@import "./_settings.scss";

body {
	margin: 0;
	font-size: 14px;
	// sans-serif là 1 font family, "Source Sans Pro" là một typeface (biểu thị các style như bold, italic)
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1.3em;
}
